$corn: #FFFF00;
$indigo: #0EBFE9;
$sugar: #FFF8DC;
$tobacco: #DEB887;
$coffee: #4E3229;

.crop-flop {
  padding: 0;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.crop-flop.CORN {
  background-color: $corn !important;
  border-color: darken($corn, 5%) !important;
}

.crop-flop.INDIGO {
  background-color: $indigo !important;
  border-color: darken($indigo, 5%) !important;
}

.crop-flop.SUGAR {
  background-color: $sugar !important;
  border-color: darken($sugar, 5%) !important;
}

.crop-flop.TOBACCO {
  background-color: $tobacco !important;
  border-color: darken($tobacco, 5%) !important;
}

.crop-flop.COFFEE {
  background-color: $coffee !important;
  border-color: darken($coffee, 5%) !important;
}
