$corn: #FFFF00;
$indigo: #0EBFE9;
$sugar: #FFF8DC;
$tobacco: #DEB887;
$coffee: #4E3229;

.glyphicon-oil.CORN {
  color: $corn;
}

.glyphicon-oil.INDIGO {
  color: $indigo;
}

.glyphicon-oil.SUGAR {
  color: $sugar;
}

.glyphicon-oil.TOBACCO {
  color: $tobacco;
}

.glyphicon-oil.COFFEE {
  color: $coffee;
}
