$corn: #FFFF00;
$indigo: #0EBFE9;
$sugar: #FFF8DC;
$tobacco: #DEB887;
$coffee: #4E3229;

.glyphicon-oil.corn {
  color: $corn;
}

.glyphicon-oil.indigo {
  color: $indigo;
}

.glyphicon-oil.sugar {
  color: $sugar;
}

.glyphicon-oil.tobacco {
  color: $tobacco;
}

.glyphicon-oil.coffee {
  color: $coffee;
}
